body {
  color: black;
  background-color: #434b4d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input, select, #timeInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
  font-size: 14px;
}

#timeInput {
  height: 43.75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button[type=submit] {
  margin-top: 20px;
  background-color: #3947de;
  color: white;
  border: none;
  width: 100%;
  border-radius: 10px;
  height: 35px;
  padding: 5px 0px 10px 0px;
  font-size: 16px;
  cursor: pointer;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  flex-direction: column;
  justify-content: space-between;
}

#form-taxi {
  margin-top: 30px;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: #d9d9d9;
  width: 70vh;
}

#timeInput {
  color: black;
}

